@use '@/styles/abstracts' as *;

.c-button {
  display: inline-block;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1;
  color: #000;
  text-decoration: none;
  background: #fff;
  border: 1px solid #000;
  box-shadow: none;
}
