@use '@/styles/abstracts' as *;

.c-picture {
  display: block;
  width: var(--display-width, 100%);
  aspect-ratio: var(--aspect-ratio-pc, auto);

  @include sp {
    width: var(--display-width-sp, var(--display-width, 100%));
    aspect-ratio: var(--aspect-ratio-sp, var(--aspect-ratio-pc, auto));
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
