// 複数行の切り詰め
@mixin line-clamp($lines: 2) {
  display: -webkit-box;
  overflow-y: clip;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}

// Leading trim（テキストの上下余白をトリミング）
@mixin leading-trim {
  --_leading-trim: calc((1em - 1lh) / 2);

  margin-block: calc(-1 * var(--_leading-trim));
}
