@use '@/styles/abstracts' as *;

.c-works-card {
  display: flex;
  align-items: flex-end;
  min-height: rem(160);
  padding: rem(24) rem(28);
  text-decoration: none;
  border: 1px solid var(--color-border);
  transition: border-color 0.3s var(--easing-smooth), background-color 0.3s var(--easing-smooth);

  &:is(a):hover {
    background-color: rgba(#fff, 0.03);
    border-color: rgba(#ccc9c2, 0.3);
  }

  &__title {
    margin: 0;
    font-family: var(--font-family-base);
    font-size: fluid(15, 17);
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.08em;
    color: var(--color-text);
  }
}
