@use '@/styles/abstracts' as *;

.p-kv {
  position: relative;
  overflow: hidden;
}

.p-kv__slide {
  height: calc(100svh - rem(74));
  overflow: hidden;

  .c-picture {
    display: block;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// Splide カスタマイズ
.p-kv {
  .splide__pagination {
    bottom: rem(24);
  }

  .splide__pagination__page {
    width: rem(32);
    height: rem(2);
    background: rgba(#fff, 0.4);
    border-radius: 0;
    transform: none;
    transition: background 0.3s var(--easing-smooth), width 0.3s var(--easing-smooth);

    &.is-active {
      width: rem(56);
      background: var(--color-accent);
      transform: none;
    }
  }
}
