:root {
  scrollbar-gutter: stable;
  --fz: 1;

  // フォントファミリー
  --font-family-base: -apple-system, blinkmacsystemfont, "Segoe UI", "Helvetica Neue", arial, sans-serif;

  // カスタムイージング
  --easing-smooth: cubic-bezier(0.4, 0, 0.2, 1);

  // z-index階層管理
  $z-index-base: 500;

  // レイヤー階層
  $z-index-header: 700;

}